*{
  font-family: arial;
  box-sizing: border-box;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 1024px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.bg {
  position: absolute;
  width: 1885px;
  height: 1414px;
  top: 0;
  left: 0;
  background: url(Galaxy/background.png) no-repeat center;
  background-size: cover;
}
.nav {
  position: absolute;
  width: 1440px;
  height: 100px;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0);
  z-index: 31;
  overflow: hidden;
}
.galaxy {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 194px;
  height: 100px;
  top: 0;
  left: 117px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  z-index: 32;
}
.navtext {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 760px;
  height: 100px;
  top: calc(50% - 50px);
  left: calc(50% - 339px);
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 6px;
}
.logo {
  position: absolute;
  width: 49px;
  height: 46px;
  top: 27px;
  left: 102px;
  background: url(Galaxy/LOGO1.png)
    no-repeat center;
  background-size: cover;
  z-index: 33;
}
.search {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 1287px;
  background: url(Galaxy/search.png) no-repeat center;
  background-size: cover;
  transform: translate(0, -50%);
  z-index: 35;
}
.radar {
  position: absolute;
  width: 513px;
  height: 804px;
  top: 73px;
  left: 927px;
  background: url(Galaxy/radar.svg) no-repeat center;
  background-size: cover;
  z-index: 1;
  overflow: hidden;
}

.side {
  position: absolute;
  width: 200px;
  height: 926px;
  top: 210px;
  left: 87px;
  background: transparent;
  z-index: 5;
  overflow: hidden;
}

a{
  text-decoration: none;
}
.list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 206.25px;
  height: 60px;
  margin: 0 0 0 39px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  z-index: 23;
}

.line {
  position: absolute;
  width: 160px;
  height: 2px;
  left: 0;
  background-color: #fff;
  z-index: 22;
}

.desc {
  position: absolute;
  width: 651px;
  height: 534px;
  top: 180px;
  left: 320px;
  font-size: 0px;
  z-index: 24;
  overflow: hidden;
}

.desctext {
  position: relative;
  width: 616px;
  height: 294px;
  margin: 48px 0 0 0;
  z-index: 29;
}
.text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 616px;
  height: 269px;
  top: 0;
  left: 0;
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  z-index: 29;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 244px;
  left: 2px;
  background: linear-gradient(180deg, #f36d14, #f0b134);
  z-index: 27;
  border-radius: 50px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.map-pin {
  flex-shrink: 0;
  position: relative;
  width: 35px;
  height: 35px;
  background: url(Galaxy/map-pin1.png)
    no-repeat center;
  background-size: cover;
  z-index: 28;
}
.planetname {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 254px;
  left: 65px;
  color: #ffffff;
  font-size: 20px;
  text-align: left;
  z-index: 26;
}
.location {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 254px;
  left: 254px;
  color: #ffffff;
  font-size: 20px;
  text-align: left;
  z-index: 25;
}
.astronaut {
  position: absolute;
  width: 61.25%;
  height: 737px;
  top: 289px;
  left: 40.63%;
  background: url(Galaxy/astronaut.png)
    no-repeat center;
  background-size: cover;
  z-index: 4;
}
